.title{
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 10px;

}
#sub-title{
    background-color: green;
    color: red;
    border-radius: 10px;
    padding: 10px;
}