nav {
    color: #fff;
    height: 8vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    font-size: 0.9rem;
}

section {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* margin-inline: auto; */
}
.nav_left {
    display: flex;
    width: 1.8rem;
}

.nav_logo {
    height: 1.8rem;
}